/* DEFAULTS */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(black, #212121);
    background-repeat: no-repeat;
}

.topButtons {
   text-align: right;
   padding-right: 10%; /* TAKES THE BUTTONS OFF THE RIGHT SIDE OF THE SCREEN */
   padding-top: 2vh; /* TAKES THE BUTTONS OFF THE TOP OF THE SCREEN */
}

.topButtons a {
    padding-right: 40px; /* SPREADS THE BUTTONS APART */
    font-weight: 600; /* SEMI-BOLD */
    font-size: 1vw;
    color:white;
}

.topButtons a:hover {
    background: -webkit-linear-gradient(#F12DDD, #227AFF);
    -webkit-background-clip: text; /* CLIPS THE BACKGROUND COLOR TO THE SHAPE OF THE TEXT */
    -webkit-text-fill-color: transparent; /* THIS HAS TO BE HERE FOR SOME REASON */
    -webkit-transition-duration: 1s;
}


/* SECOND SECTION */
#secondSection {
    display: flex; /* CHANGES CONTAINER TO A SIDE BY SIDE FLEX */
    gap: 20px;
    margin-top: 40px;
    margin-left: 10vw;
}

.iconsFrame {
   background-color: transparent;
   display:grid;
}

.iconButton {
    padding-left: 4px;
    vertical-align: bottom;

    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

.iconButton:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
   animation-duration: .5s;
}

.iconImage {
    width: 1vw;
    vertical-align: bottom;
}

.name {
    background: -webkit-linear-gradient(#F12DDD, #227AFF);
    -webkit-background-clip: text; /* CLIPS THE BACKGROUND COLOR TO THE SHAPE OF THE TEXT */
    -webkit-text-fill-color: transparent; /* THIS HAS TO BE HERE FOR SOME REASON */
    font-size: 4vw;
}


/* THIRD SECTION */

.thirdSection {
    margin-left:10vw;
    margin-top: 5px;
}

.thirdSection h2 {
    font-size: 1vw;
    color:white;
}

.thirdSection h3 {
    font-size: .8vw;
    font-weight: lighter;
    color: #A5A5A5;
    margin-top: 5px;
}


/* PARAGRAPHS */

.paragraphs {
    margin-left: 10vw;
    padding-top: 30px;
    display: grid;
    column-count: 2;
}

.leftColumn {
    grid-column-start: 1;
    grid-column-end: 2;
}

.rightColumn {
    grid-column-start: 2;
    grid-column-end: 3;
}


h4 { /* MAIN TEXT IN PARAGRAPHS */
    color: #A5A5A5;
    font-size: .8vw;
    font-weight: lighter;
}

.bulletPoints {
    font-size: .8vw;
    color:#A5A5A5;
    font-weight: lighter;
    margin-left: 1vh;
}

/* EDUCATION INFORMATION */

.schoolFrames {
    display:grid;
    column-count: 2;
}

.leftSchoolColumn {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 2vh;
}

.rightSchoolColumn {
    grid-column-start: 2;
    grid-column-end: 2;
}

.date { /* DURATION OF EDUCATION */
    font-size: .5vw;
}

.school { /* NAME OF EDUCATION */
    font-size: .8vw;
    color:white;
}

.capCourse {
    margin-left: 1vh;
}

h1 {
    color:white;
    font-size: 1vw;
}

.bodyHeader {
    margin-bottom: 10px;
    margin-top: 30px;
}

/* SKILLS & CERTS */

.skillsCerts {
    display:grid;
    column-count: 2;
}

/* DISCLAIMER */

.disclaimer {
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 1vh;
    left:40%;
    right: 40%;
}

/* CURSOR */

.cursor {
    position:fixed;
    left:0;
    top:0;
    pointer-events: none; /* SO IT DOESN'T INTERFERE WITH ANY CLICKING */
    background-color: transparent;
    filter:invert(35%) sepia(70%) saturate(2495%) hue-rotate(206deg) brightness(101%) contrast(102%);
    width:400px;
    height:400px;
    opacity: .02;
}

/* ANIMATIONS */

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}